.eb-nav-toggle-wrap {
    position: relative;
    z-index: 99999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
  }
  
  .eb-nav-toggle {
    position: relative;
    height: 60px;
    width: 60px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .eb-nav-toggle__lines {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .eb-nav-toggle__line {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    pointer-events: none;
  }
  
  .eb-nav-toggle__line--1 {
    top: 0;
  }
  
  .eb-nav-toggle__line--2 {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .eb-nav-toggle__line--3 {
    bottom: 0;
  }
  
  .eb-nav-toggle--x-1 .eb-nav-toggle__line--1 {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-1 .eb-nav-toggle__line--2 {
    right: 0;
    -webkit-transition: right .2s ease-in-out,  opacity .35s ease-in-out,  -webkit-transform 0s ease-in-out;
    transition: right .2s ease-in-out,  opacity .35s ease-in-out,  -webkit-transform 0s ease-in-out;
    -o-transition: right .2s ease-in-out,  opacity .35s ease-in-out,  transform 0s ease-in-out;
    transition: right .2s ease-in-out,  opacity .35s ease-in-out,  transform 0s ease-in-out;
    transition: right .2s ease-in-out,  opacity .35s ease-in-out,  transform 0s ease-in-out,  -webkit-transform 0s ease-in-out;
  }
  
  .eb-nav-toggle--x-1 .eb-nav-toggle__line--3 {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-1.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    -webkit-transform: translate3d(0, 9px, 0) rotate(135deg);
    transform: translate3d(0, 9px, 0) rotate(135deg);
  }
  
  .eb-nav-toggle--x-1.eb-nav-toggle--open .eb-nav-toggle__line--2 {
    opacity: 0;
    right: -120px;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
    -webkit-transition: opacity .2s ease-in-out,  right .0s ease-in-out .2s,  -webkit-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out,  right .0s ease-in-out .2s,  -webkit-transform .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out,  transform .2s ease-in-out,  right .0s ease-in-out .2s;
    transition: opacity .2s ease-in-out,  transform .2s ease-in-out,  right .0s ease-in-out .2s;
    transition: opacity .2s ease-in-out,  transform .2s ease-in-out,  right .0s ease-in-out .2s,  -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-1.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    -webkit-transform: translate3d(0, -9px, 0) rotate(-135deg);
    transform: translate3d(0, -9px, 0) rotate(-135deg);
  }
  
  .eb-nav-toggle--x-2 .eb-nav-toggle__line--1 {
    -webkit-transition: top .2s ease-in-out .3s,  -webkit-transform .3s ease-in-out;
    transition: top .2s ease-in-out .3s,  -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out,  top .2s ease-in-out .3s;
    transition: transform .3s ease-in-out,  top .2s ease-in-out .3s;
    transition: transform .3s ease-in-out,  top .2s ease-in-out .3s,  -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--x-2 .eb-nav-toggle__line--1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: inherit;
    border-radius: 2px;
    -webkit-transition: -webkit-transform .1s ease-in-out .2s;
    transition: -webkit-transform .1s ease-in-out .2s;
    -o-transition: transform .1s ease-in-out .2s;
    transition: transform .1s ease-in-out .2s;
    transition: transform .1s ease-in-out .2s, -webkit-transform .1s ease-in-out .2s;
  }
  
  .eb-nav-toggle--x-2 .eb-nav-toggle__line--2 {
    -webkit-transition: opacity .0s ease-in-out .3s;
    -o-transition: opacity .0s ease-in-out .3s;
    transition: opacity .0s ease-in-out .3s;
  }
  
  .eb-nav-toggle--x-2 .eb-nav-toggle__line--3 {
    -webkit-transition: opacity .0s ease-in-out .3s,  bottom .2s ease-in-out .3s;
    -o-transition: opacity .0s ease-in-out .3s,  bottom .2s ease-in-out .3s;
    transition: opacity .0s ease-in-out .3s,  bottom .2s ease-in-out .3s;
  }
  
  .eb-nav-toggle--x-2.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: top .3s ease-in-out,  -webkit-transform .3s linear .3s;
    transition: top .3s ease-in-out,  -webkit-transform .3s linear .3s;
    -o-transition: top .3s ease-in-out,  transform .3s linear .3s;
    transition: top .3s ease-in-out,  transform .3s linear .3s;
    transition: top .3s ease-in-out,  transform .3s linear .3s,  -webkit-transform .3s linear .3s;
  }
  
  .eb-nav-toggle--x-2.eb-nav-toggle--open .eb-nav-toggle__line--1:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform .1s ease-in-out .3s;
    transition: -webkit-transform .1s ease-in-out .3s;
    -o-transition: transform .1s ease-in-out .3s;
    transition: transform .1s ease-in-out .3s;
    transition: transform .1s ease-in-out .3s, -webkit-transform .1s ease-in-out .3s;
  }
  
  .eb-nav-toggle--x-2.eb-nav-toggle--open .eb-nav-toggle__line--2 {
    opacity: 0;
    -webkit-transition: opacity .0s ease-in-out .3s;
    -o-transition: opacity .0s ease-in-out .3s;
    transition: opacity .0s ease-in-out .3s;
  }
  
  .eb-nav-toggle--x-2.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    bottom: 9px;
    opacity: 0;
    -webkit-transition: bottom .3s ease-in-out,  opacity .0s ease-in-out .3s;
    -o-transition: bottom .3s ease-in-out,  opacity .0s ease-in-out .3s;
    transition: bottom .3s ease-in-out,  opacity .0s ease-in-out .3s;
  }
  
  .eb-nav-toggle--x-3 .eb-nav-toggle__line--1 {
    -webkit-transition: top .2s ease-in-out .2s,  -webkit-transform .2s ease-in-out .15s;
    transition: top .2s ease-in-out .2s,  -webkit-transform .2s ease-in-out .15s;
    -o-transition: transform .2s ease-in-out .15s,  top .2s ease-in-out .2s;
    transition: transform .2s ease-in-out .15s,  top .2s ease-in-out .2s;
    transition: transform .2s ease-in-out .15s,  top .2s ease-in-out .2s,  -webkit-transform .2s ease-in-out .15s;
  }
  
  .eb-nav-toggle--x-3 .eb-nav-toggle__line--1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: inherit;
    border-radius: 2px;
    -webkit-transition: -webkit-transform .15s ease-in-out;
    transition: -webkit-transform .15s ease-in-out;
    -o-transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
  }
  
  .eb-nav-toggle--x-3 .eb-nav-toggle__line--2 {
    -webkit-transition: opacity .0s ease-in-out .35s;
    -o-transition: opacity .0s ease-in-out .35s;
    transition: opacity .0s ease-in-out .35s;
  }
  
  .eb-nav-toggle--x-3 .eb-nav-toggle__line--3 {
    -webkit-transition: opacity .0s ease-in-out .25s;
    -o-transition: opacity .0s ease-in-out .25s;
    transition: opacity .0s ease-in-out .25s;
  }
  
  .eb-nav-toggle--x-3.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    top: 18px;
    -webkit-transform: translate3d(0, -9px, 0) rotate(-45deg);
    transform: translate3d(0, -9px, 0) rotate(-45deg);
    -webkit-transition: top .2s ease-in-out,  -webkit-transform .15s ease-in-out .2s;
    transition: top .2s ease-in-out,  -webkit-transform .15s ease-in-out .2s;
    -o-transition: top .2s ease-in-out,  transform .15s ease-in-out .2s;
    transition: top .2s ease-in-out,  transform .15s ease-in-out .2s;
    transition: top .2s ease-in-out,  transform .15s ease-in-out .2s,  -webkit-transform .15s ease-in-out .2s;
  }
  
  .eb-nav-toggle--x-3.eb-nav-toggle--open .eb-nav-toggle__line--1:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform .15s ease-in-out .3s;
    transition: -webkit-transform .15s ease-in-out .3s;
    -o-transition: transform .15s ease-in-out .3s;
    transition: transform .15s ease-in-out .3s;
    transition: transform .15s ease-in-out .3s, -webkit-transform .15s ease-in-out .3s;
  }
  
  .eb-nav-toggle--x-3.eb-nav-toggle--open .eb-nav-toggle__line--2 {
    opacity: 0;
    -webkit-transition: opacity .0s ease-in-out .1s;
    -o-transition: opacity .0s ease-in-out .1s;
    transition: opacity .0s ease-in-out .1s;
  }
  
  .eb-nav-toggle--x-3.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    opacity: 0;
    -webkit-transition: opacity .0s ease-in-out .2s;
    -o-transition: opacity .0s ease-in-out .2s;
    transition: opacity .0s ease-in-out .2s;
  }
  
  .eb-nav-toggle--x-4 .eb-nav-toggle__line--1,
  .eb-nav-toggle--x-4 .eb-nav-toggle__line--3 {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-4 .eb-nav-toggle__line--2 {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-4 .eb-nav-toggle__line--2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: inherit;
    border-radius: 2px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-4.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    opacity: 0;
    -webkit-transform: translate3d(-18px, 0, 0);
    transform: translate3d(-18px, 0, 0);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-4.eb-nav-toggle--open .eb-nav-toggle__line--2 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-4.eb-nav-toggle--open .eb-nav-toggle__line--2:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-4.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    opacity: 0;
    -webkit-transform: translate3d(18px, 0, 0);
    transform: translate3d(18px, 0, 0);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-5 .eb-nav-toggle__line--4,
  .eb-nav-toggle--x-5 .eb-nav-toggle__line--5 {
    opacity: 0;
    top: 9px;
    -webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-5 .eb-nav-toggle__line--1 {
    -webkit-transition: width .2s ease-in-out .4s;
    -o-transition: width .2s ease-in-out .4s;
    transition: width .2s ease-in-out .4s;
  }
  
  .eb-nav-toggle--x-5 .eb-nav-toggle__line--2 {
    -webkit-transition: width .2s ease-in-out .3s;
    -o-transition: width .2s ease-in-out .3s;
    transition: width .2s ease-in-out .3s;
  }
  
  .eb-nav-toggle--x-5 .eb-nav-toggle__line--3 {
    -webkit-transition: width .2s ease-in-out .2s;
    -o-transition: width .2s ease-in-out .2s;
    transition: width .2s ease-in-out .2s;
  }
  
  .eb-nav-toggle--x-5 .eb-nav-toggle__line--4 {
    -webkit-transform: rotate(45deg) translate3d(-30px, 0, 0);
    transform: rotate(45deg) translate3d(-30px, 0, 0);
    -webkit-transition: opacity .2s ease-in-out .2s,  -webkit-transform .2s ease-in-out .2s;
    transition: opacity .2s ease-in-out .2s,  -webkit-transform .2s ease-in-out .2s;
    -o-transition: opacity .2s ease-in-out .2s,  transform .2s ease-in-out .2s;
    transition: opacity .2s ease-in-out .2s,  transform .2s ease-in-out .2s;
    transition: opacity .2s ease-in-out .2s,  transform .2s ease-in-out .2s,  -webkit-transform .2s ease-in-out .2s;
  }
  
  .eb-nav-toggle--x-5 .eb-nav-toggle__line--5 {
    -webkit-transform: rotate(-45deg) translate3d(30px, 0, 0);
    transform: rotate(-45deg) translate3d(30px, 0, 0);
    -webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-5.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    width: 0;
    -webkit-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-5.eb-nav-toggle--open .eb-nav-toggle__line--2 {
    width: 0;
    -webkit-transition: width .2s ease-in-out .1s;
    -o-transition: width .2s ease-in-out .1s;
    transition: width .2s ease-in-out .1s;
  }
  
  .eb-nav-toggle--x-5.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    width: 0;
    -webkit-transition: width .2s ease-in-out .2s;
    -o-transition: width .2s ease-in-out .2s;
    transition: width .2s ease-in-out .2s;
  }
  
  .eb-nav-toggle--x-5.eb-nav-toggle--open .eb-nav-toggle__line--4 {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    -webkit-transition: opacity .2s ease-in-out .2s, -webkit-transform .2s ease-in-out .2s;
    transition: opacity .2s ease-in-out .2s, -webkit-transform .2s ease-in-out .2s;
    -o-transition: opacity .2s ease-in-out .2s, transform .2s ease-in-out .2s;
    transition: opacity .2s ease-in-out .2s, transform .2s ease-in-out .2s;
    transition: opacity .2s ease-in-out .2s, transform .2s ease-in-out .2s, -webkit-transform .2s ease-in-out .2s;
  }
  
  .eb-nav-toggle--x-5.eb-nav-toggle--open .eb-nav-toggle__line--5 {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
    -webkit-transition: opacity .2s ease-in-out .4s, -webkit-transform .2s ease-in-out .4s;
    transition: opacity .2s ease-in-out .4s, -webkit-transform .2s ease-in-out .4s;
    -o-transition: opacity .2s ease-in-out .4s, transform .2s ease-in-out .4s;
    transition: opacity .2s ease-in-out .4s, transform .2s ease-in-out .4s;
    transition: opacity .2s ease-in-out .4s, transform .2s ease-in-out .4s, -webkit-transform .2s ease-in-out .4s;
  }
  
  .eb-nav-toggle--x-6 .eb-nav-toggle__lines {
    -webkit-transition: -webkit-transform 0s ease-in-out;
    transition: -webkit-transform 0s ease-in-out;
    -o-transition: transform 0s ease-in-out;
    transition: transform 0s ease-in-out;
    transition: transform 0s ease-in-out, -webkit-transform 0s ease-in-out;
  }
  
  .eb-nav-toggle--x-6 .eb-nav-toggle__line--1 {
    -webkit-transition: opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .3s;
    transition: opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .3s;
    -o-transition: transform .2s ease-in-out .3s, opacity 0s ease-in-out .4s;
    transition: transform .2s ease-in-out .3s, opacity 0s ease-in-out .4s;
    transition: transform .2s ease-in-out .3s, opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .3s;
  }
  
  .eb-nav-toggle--x-6 .eb-nav-toggle__line--2 {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-6 .eb-nav-toggle__line--2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: inherit;
    border-radius: 2px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-6 .eb-nav-toggle__line--3 {
    -webkit-transition: opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .3s;
    transition: opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .3s;
    -o-transition: transform .2s ease-in-out .3s, opacity 0s ease-in-out .4s;
    transition: transform .2s ease-in-out .3s, opacity 0s ease-in-out .4s;
    transition: transform .2s ease-in-out .3s, opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .3s;
  }
  
  .eb-nav-toggle--x-6.eb-nav-toggle--open .eb-nav-toggle__lines {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--x-6.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    opacity: 0;
    -webkit-transform: translate3d(0, 9px, 0);
    transform: translate3d(0, 9px, 0);
    -webkit-transition: opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .2s;
    transition: opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .2s;
    -o-transition: transform .2s ease-in-out .2s, opacity 0s ease-in-out .4s;
    transition: transform .2s ease-in-out .2s, opacity 0s ease-in-out .4s;
    transition: transform .2s ease-in-out .2s, opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .2s;
  }
  
  .eb-nav-toggle--x-6.eb-nav-toggle--open .eb-nav-toggle__line--2 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s ease-in-out .5s;
    transition: -webkit-transform .2s ease-in-out .5s;
    -o-transition: transform .2s ease-in-out .5s;
    transition: transform .2s ease-in-out .5s;
    transition: transform .2s ease-in-out .5s, -webkit-transform .2s ease-in-out .5s;
  }
  
  .eb-nav-toggle--x-6.eb-nav-toggle--open .eb-nav-toggle__line--2:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform .2s ease-in-out .5s;
    transition: -webkit-transform .2s ease-in-out .5s;
    -o-transition: transform .2s ease-in-out .5s;
    transition: transform .2s ease-in-out .5s;
    transition: transform .2s ease-in-out .5s, -webkit-transform .2s ease-in-out .5s;
  }
  
  .eb-nav-toggle--x-6.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    opacity: 0;
    -webkit-transform: translate3d(0, -9px, 0);
    transform: translate3d(0, -9px, 0);
    -webkit-transition: opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .2s;
    transition: opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .2s;
    -o-transition: transform .2s ease-in-out .2s, opacity 0s ease-in-out .4s;
    transition: transform .2s ease-in-out .2s, opacity 0s ease-in-out .4s;
    transition: transform .2s ease-in-out .2s, opacity 0s ease-in-out .4s, -webkit-transform .2s ease-in-out .2s;
  }
  
  .eb-nav-toggle--back1 .eb-nav-toggle__line--1,
  .eb-nav-toggle--back1 .eb-nav-toggle__line--3 {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back1.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    -webkit-transform: translate3d(-6.5px, 1px, 0) rotate(135deg) scaleX(0.7);
    transform: translate3d(-6.5px, 1px, 0) rotate(135deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back1.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    -webkit-transform: translate3d(-6.5px, -1px, 0) rotate(-135deg) scaleX(0.7);
    transform: translate3d(-6.5px, -1px, 0) rotate(-135deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back2 .eb-nav-toggle__line--1,
  .eb-nav-toggle--back2 .eb-nav-toggle__line--3 {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back2.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    -webkit-transform: translate3d(-6.5px, 1px, 0) rotate(-225deg) scaleX(0.7);
    transform: translate3d(-6.5px, 1px, 0) rotate(-225deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back2.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    -webkit-transform: translate3d(-6.5px, -1px, 0) rotate(225deg) scaleX(0.7);
    transform: translate3d(-6.5px, -1px, 0) rotate(225deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back3 .eb-nav-toggle__line--1 {
    -webkit-transition: -webkit-transform .2s ease-in-out .2s;
    transition: -webkit-transform .2s ease-in-out .2s;
    -o-transition: transform .2s ease-in-out .2s;
    transition: transform .2s ease-in-out .2s;
    transition: transform .2s ease-in-out .2s, -webkit-transform .2s ease-in-out .2s;
  }
  
  .eb-nav-toggle--back3 .eb-nav-toggle__line--2 {
    -webkit-transition: -webkit-transform .2s ease-in-out .1s;
    transition: -webkit-transform .2s ease-in-out .1s;
    -o-transition: transform .2s ease-in-out .1s;
    transition: transform .2s ease-in-out .1s;
    transition: transform .2s ease-in-out .1s, -webkit-transform .2s ease-in-out .1s;
  }
  
  .eb-nav-toggle--back3 .eb-nav-toggle__line--3 {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--back3.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    -webkit-transform: translate3d(-6.5px, 1px, 0) rotate(135deg) scaleX(0.7);
    transform: translate3d(-6.5px, 1px, 0) rotate(135deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  
  .eb-nav-toggle--back3.eb-nav-toggle--open .eb-nav-toggle__line--2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform .2s ease-in-out .1s;
    transition: -webkit-transform .2s ease-in-out .1s;
    -o-transition: transform .2s ease-in-out .1s;
    transition: transform .2s ease-in-out .1s;
    transition: transform .2s ease-in-out .1s, -webkit-transform .2s ease-in-out .1s;
  }
  
  .eb-nav-toggle--back3.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    -webkit-transform: translate3d(-6.5px, -1px, 0) rotate(225deg) scaleX(0.7);
    transform: translate3d(-6.5px, -1px, 0) rotate(225deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .2s ease-in-out .2s;
    transition: -webkit-transform .2s ease-in-out .2s;
    -o-transition: transform .2s ease-in-out .2s;
    transition: transform .2s ease-in-out .2s;
    transition: transform .2s ease-in-out .2s, -webkit-transform .2s ease-in-out .2s;
  }
  
  .eb-nav-toggle--back4 .eb-nav-toggle__line--1 {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back4 .eb-nav-toggle__line--2 {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back4 .eb-nav-toggle__line--3 {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back4.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    -webkit-transform: translate3d(-6.5px, 16px, 0) rotate(-135deg) scaleX(0.7);
    transform: translate3d(-6.5px, 16px, 0) rotate(-135deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back4.eb-nav-toggle--open .eb-nav-toggle__line--2 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back4.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    -webkit-transform: translate3d(-6.5px, -16px, 0) rotate(-225deg) scaleX(0.7);
    transform: translate3d(-6.5px, -16px, 0) rotate(-225deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back5 .eb-nav-toggle__lines {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back5 .eb-nav-toggle__line--1,
  .eb-nav-toggle--back5 .eb-nav-toggle__line--3 {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back5.eb-nav-toggle--open .eb-nav-toggle__lines {
    -webkit-transform: rotate(180deg) translate(50%, 50%);
    -ms-transform: rotate(180deg) translate(50%, 50%);
    transform: rotate(180deg) translate(50%, 50%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back5.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    -webkit-transform: translate3d(6.5px, 1px, 0) rotate(45deg) scaleX(0.7);
    transform: translate3d(6.5px, 1px, 0) rotate(45deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back5.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    -webkit-transform: translate3d(6.5px, -1px, 0) rotate(-45deg) scaleX(0.7);
    transform: translate3d(6.5px, -1px, 0) rotate(-45deg) scaleX(0.7);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back6 .eb-nav-toggle__line--1 {
    -webkit-transition: top .2s ease-in-out .3s, -webkit-transform .3s ease-in-out;
    transition: top .2s ease-in-out .3s, -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, top .2s ease-in-out .3s;
    transition: transform .3s ease-in-out, top .2s ease-in-out .3s;
    transition: transform .3s ease-in-out, top .2s ease-in-out .3s, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back6 .eb-nav-toggle__line--3 {
    -webkit-transition: bottom .2s ease-in-out .3s, -webkit-transform .3s ease-in-out;
    transition: bottom .2s ease-in-out .3s, -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, bottom .2s ease-in-out .3s;
    transition: transform .3s ease-in-out, bottom .2s ease-in-out .3s;
    transition: transform .3s ease-in-out, bottom .2s ease-in-out .3s, -webkit-transform .3s ease-in-out;
  }
  
  .eb-nav-toggle--back6.eb-nav-toggle--open .eb-nav-toggle__line--1 {
    top: 9px;
    -webkit-transform: translate3d(-6.5px, -7.5px, 0) rotate(-45deg) scaleX(0.7);
    transform: translate3d(-6.5px, -7.5px, 0) rotate(-45deg) scaleX(0.7);
    -webkit-transition: top .2s ease-in-out,  -webkit-transform .3s ease-in-out .2s;
    transition: top .2s ease-in-out,  -webkit-transform .3s ease-in-out .2s;
    -o-transition: top .2s ease-in-out,  transform .3s ease-in-out .2s;
    transition: top .2s ease-in-out,  transform .3s ease-in-out .2s;
    transition: top .2s ease-in-out,  transform .3s ease-in-out .2s,  -webkit-transform .3s ease-in-out .2s;
  }
  
  .eb-nav-toggle--back6.eb-nav-toggle--open .eb-nav-toggle__line--3 {
    bottom: 9px;
    -webkit-transform: translate3d(-6.5px, 8px, 0) rotate(45deg) scaleX(0.7);
    transform: translate3d(-6.5px, 8px, 0) rotate(45deg) scaleX(0.7);
    -webkit-transition: bottom .2s ease-in-out,  -webkit-transform .3s ease-in-out .2s;
    transition: bottom .2s ease-in-out,  -webkit-transform .3s ease-in-out .2s;
    -o-transition: bottom .2s ease-in-out,  transform .3s ease-in-out .2s;
    transition: bottom .2s ease-in-out,  transform .3s ease-in-out .2s;
    transition: bottom .2s ease-in-out,  transform .3s ease-in-out .2s,  -webkit-transform .3s ease-in-out .2s;
  }
  
  
  /*
  ==============================================
    = Mobile nav
  ==============================================
  */
  .eb-mobile-nav-wrap {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: -110%;
    left: 0;
    z-index: 9998;
    background-color: #fff;
    height: 100%;
    transition: all 0.5s;
    overflow: hidden;
  }
  
  .elementor-editor-active .eb-mobile-nav-wrap {
    display: none;
  }
  
  .eb-mobile-nav-open .eb-mobile-nav-wrap {
    top: 0;
  }
  
  .eb-mobile-nav-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .eb-mobile-nav-wrap ul {
    margin: 0;
    padding: 0;
  }
  
  .eb-mobile-nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  
  .eb-mobile-nav-menu a {
    color: #333;
  }
  
  .eb-mobile-nav-menu li {
    display: block;
    width: 100%;
    flex-basis: 100%;
    list-style: none;
    text-align: center;
  }
  
  .eb-mobile-nav-menu > li {
    border-bottom: 1px solid #f4f4f4;
  }
  
  .eb-mobile-nav-menu > .menu-item > a {
    display: block;
    font-size: 18px;
    padding: 8px;
  }
  
  .eb-mobile-nav-menu > li > a:hover {
    background-color: #354546;
    color: #fff;
  }
  
  .eb-mobile-nav-menu ul {
    display: none;
    padding: 12px 0;
    background-color: #fcfcfc;
  }
  
  .eb-mobile-nav-menu ul li {
    margin: 10px 0;
  }
  
  .eb-mobile-nav-menu .eb-nav-indicator {
    margin-left: 5px;
  }
  
  .eb-mobile-nav-open .eb-mobile-nav-menu {
    animation-name: eb_fade_in_up;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .eb-mobile-nav-lang-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0;
  }
  
  .eb-mobile-nav-lang-list li {
    padding: 10px;
  }
  
  @keyframes eb_fade_in_up {
    from {
      -webkit-transform: translate3d(0, -40px, 0);
              transform: translate3d(0, -40px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  