/*
==============================================
  = Section title
==============================================
*/
.eb-heading {
  padding: 0;
  position: relative;
}

.eb-heading-sep {
  display: flex;
  position: relative;
  margin: 0;
}

.eb-heading-sep > span {
  display: block;
  margin: 0;
}

.eb-heading-heading {
  margin: 0;
  padding: 0;
}

.eb-heading-subheading {
  margin: 0;
  padding: 0;
}

/*
==============================================
  = Wpml lang switch
==============================================
*/
.eb-modal-box {
  display: none;
}

.eb-wpml-lang-switch-modal .tingle-modal-box {
  width: 300px;
  border: 6px solid #dadada;
  border-radius: 8px;
}

@media (min-width: 1200px) {
  .eb-wpml-lang-switch-modal .tingle-modal-box {
    width: 300px;
  }
}

.eb-wpml-lang-switch-list {
  width: 100%;
  margin: 0;
  padding: 15px;
  list-style: none;
}

.eb-wpml-lang-switch-list li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
  background: #fff;
  color: #222;
  transition: all 0.3s;
  margin: 0;
}

.eb-wpml-lang-switch-list li a:hover {
  background: #f1f1f1;
}

.eb-wpml-lang-switch-list li {
  margin: auto;
}

.eb-lang-switch-handle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;
}

.eb-lang-switch-flag {
  margin-right: 5px;
}

.eb-copyright-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eb-copyright-row * {
  margin: 0;
  padding: 0;
}

.eb-wpml-lang-switch-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.eb-wpml-lang-switch-grid .eb-lang-switch-handle {
  width: 25%;
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

.eb-wpml-lang-switch-grid .eb-lang-switch-handle img {
  border-radius: 4px;
  transition: all 0.3s;
  box-shadow: 0 14px 24px 0 rgba(50,48,57,.25);
  margin: 0 10px;
}

.eb-wpml-lang-switch-grid .eb-lang-switch-handle:hover img {
  box-shadow: 0 14px 24px 0 rgba(50,48,57,.3);
  transform: translateY(-2px);
}

.eb-wpml-lang-switch-grid .eb-lang-switch-handle img.eb-lang-switch-flag-circle {
  border-radius: 50%;
}

.eb-lang-switch-modal-title {
  text-align: center;
  margin-bottom: 20px;
}

.eb-wpml-lang-switch-list--list_names li a {
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .eb-wpml-lang-switch-grid .eb-lang-switch-handle {
    width: 92%;
    flex-basis: 92%;
  }
}

/*
==============================================
  = Novel/Site copyright
==============================================
*/
.eb-copyright-col:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.eb-copyright-col:last-child {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
}

/*
==============================================
  = Video modal
==============================================
*/
.eb-video-modal-play-button {
  display: inline-block;
  position: relative;
  align-items: center;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.eb-video-modal-wrap.eb-video-cover--cover .eb-video-modal-play-button-icon,
.eb-video-modal-wrap.eb-video-cover--custom .eb-video-modal-play-button-icon {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.eb-video-modal-wrap.eb-video-cover--cover .eb-video-modal-play-button-icon > span,
.eb-video-modal-wrap.eb-video-cover--custom .eb-video-modal-play-button-icon > span {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.eb-video-modal-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.eb-video-modal-embed-container iframe,
.eb-video-modal-embed-container object,
.eb-video-modal-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.eb-video-modal-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #787878;
}

.eb-video-modal-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.eb-video-modal-embed-container iframe,
.eb-video-modal-embed-container object,
.eb-video-modal-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.eb-video-modal-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #787878;
}

/*
==============================================
  = Accordion Menu
==============================================
*/

.eb-accordion-wp-menu-list {
  width: 100vw;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eb-accordion-wp-menu-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.eb-accordion-wp-menu-list > .menu {
  margin-top: 80px;
}

.eb-accordion-wp-menu-list > .menu .sub-menu {
  display: none;
  padding: 10px;
  background: rgba(221, 221, 221, 0.15);
}

.eb-accordion-wp-menu-list ul li {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.eb-accordion-wp-menu-list ul.sub-menu li {
  margin-bottom: 5px;
}

.eb-accordion-wp-menu-list a {
  text-decoration: none;
  font-size: 22px;
}

.eb-accordion-wp-menu-list .sub-menu a {
  font-size: 18px;
  color: #ffebc7;
}

/*
==============================================
  = Novi Gallery
==============================================
*/
.eb-novi-gallery-tabs {
  margin: 20px 0;
  border-bottom: 2px solid #eee;
}

.eb-novi-gallery-tabs button:active,
.eb-novi-gallery-tabs button:focus,
.eb-novi-gallery-tabs button:visited {
  outline: none;
}

.eb-novi-gallery-tabs button {
  background: none;
  border: none;
  padding: 2px 14px;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .eb-novi-gallery-tabs button {
    margin-bottom: 22px;
  }
}

.eb-novi-gallery-tabs button:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transform: translateY(4px);
  transition: all 0.3s;
}

.eb-novi-gallery-tabs button.eb-active:after {
  background-color: #94743e;
}

.eb-novi-gallery-wrapper {
  margin: 0 auto;
  position: relative;
}

.eb-novi-gallery-slick figure {
  cursor: pointer;
}

.eb-loading-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: #f8f9f9;
}

.eb-loading {
  min-height: 4rem;
  pointer-events: none;
  position: relative;
}

.eb-loading::after {
  animation: eb_loading .5s infinite linear;
  border: .1rem solid #5755d9;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
  height: 4.6rem;
  margin-left: -2.3rem;
  margin-top: -2.3rem;
  width: 4.6rem;
}

@keyframes eb_loading {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

/*
==============================================
  = Vertical sep
==============================================
*/
.eb-vertical-sep-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
}

/*
====================================
  = Whapi offers shortcode
====================================
*/
.ntr-whapi-offer-grid {
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.ntr-whapi-offer-grid:nth-child(even) {
  grid-template-columns: 6fr 7fr;
}

.ntr-whapi-offer {
  margin-bottom: 40px;
  padding-top: 40px;
}

.ntr-whapi-offer-grid .ntr-whapi-offer-img {
  overflow: hidden;
}

.ntr-whapi-offer-grid .ntr-whapi-offer-img a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.ntr-whapi-offer-grid .ntr-whapi-offer-info {
  padding: 40px;
}

.ntr-whapi-offer-title {
  font-size: 22px;
  font-weight: 600;
}

.ntr-whapi-offer-footer {
  margin-top: 15px;
}

.ntr-whapi-offer-footer .ntr-whapi-offer-book-btn {
  display: inline-block;
  padding: 10px 24px;
  border: 2px solid #222;
  color: #eee;
  background: #222;
}

.ntr-whapi-offer-meta-wrap {
  margin-top: 20px;
}

.offer-price-wrap {
  margin-top: 20px;
}

.ntr-whapi-offer-price {
  font-size: 22px;
  font-weight: 600;
}