/*
==============================================
  = Global
==============================================
*/
.elementor-icon-box-title {
  margin: 0;
}

/*
==============================================
  = Section title
==============================================
*/
.eb-heading {
  padding: 0;
  position: relative;
}

.eb-heading-sep {
  display: flex;
  position: relative;
  margin: 0;
}

.eb-heading-sep > span {
  display: block;
  margin: 0;
}

.eb-heading-heading {
  margin: 0;
  padding: 0;
}

.eb-heading-subheading {
  margin: 0;
  padding: 0;
}

/*
==============================================
  = Novel/Site copyright
==============================================
*/
.eb-copyright-col:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.eb-copyright-col:last-child {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
}

/*
==============================================
  = Accordion Menu
==============================================
*/

.eb-accordion-wp-menu-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* X */
  justify-content: center;
}

.eb-accordion-wp-menu-list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.eb-accordion-wp-menu-list > .menu .sub-menu {
  display: none;
}

.eb-accordion-wp-menu-list ul li {
  width: 100%;
  display: block;
}

.eb-accordion-wp-menu-list a {
  text-decoration: none;
}

/*
==============================================
  = Vertical sep
==============================================
*/
.eb-vertical-sep-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
}

/*
====================================
  = Whapi offers
====================================
*/

@media (min-width: 1024px) {
  .ntr-whapi-offer-grid {
    display: grid;
    grid-template-columns: 4fr 6fr;
  }

  .ntr-whapi-offer-grid:nth-child(even) {
    grid-template-columns: 6fr 7fr;
  }
}

.ntr-whapi-offer {
  margin-bottom: 40px;
  padding-top: 40px;
}

.ntr-whapi-offer-grid .ntr-whapi-offer-img {
  overflow: hidden;
}

.ntr-whapi-offer-grid .ntr-whapi-offer-img a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.ntr-whapi-offer-grid .ntr-whapi-offer-info {
  padding: 40px;
}

.ntr-whapi-offer-title {
  font-size: 22px;
  font-weight: 600;
}

.ntr-whapi-offer-title a {
  transition: all 0.3s;
}

.ntr-whapi-offer-footer {
  margin-top: 15px;
}

.ntr-whapi-offer-footer .ntr-whapi-offer-book-btn {
  display: inline-block;
  padding: 10px 24px;
  color: #eee;
  background: #222;
}

.ntr-whapi-offer-meta-wrap {
  margin-top: 20px;
}

.offer-price-wrap {
  margin-top: 20px;
}

.ntr-whapi-offer-price {
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 1023px) {
  .ntr-whapi-offer-grid .ntr-whapi-offer-img {
    height: 41vh;
  }

  .ntr-whapi-offer-grid .ntr-whapi-offer-info {
    padding: 20px;
  }
}

/*
==============================================
  = WH Datepicker
==============================================
*/
.eb-datepicker-field * {
  cursor: pointer!important;
}

.eb-datepicker-field > button {
  display: block;
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0 16px;
  color: #222;
  width: 100%;
  height: 100%;
  position: relative;
}

.eb-datepicker-field > button:after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ddd;
}

.eb-datepicker-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid #ddd;
  align-items: stretch;
  justify-content: space-between;
}

.eb-datepicker-book-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none!important;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #444;
  color: #fff;
  transition: all 0.3s;
}

.eb-datepicker-book-btn:hover {
  color: #fff;
}

.eb-datepicker-field-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eb-datepicker-field-label {
  font-weight: 300;
  font-size: 13px;
  color: #818181;
}

.eb-datepicker-field-display {
  font-size: 24px;
  margin: auto 10px;
}

.eb-number-field {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
}

.eb-number-field-sub {
  text-align: right;
}

.eb-number-field-num {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: auto 10px;
}

.eb-number-field-sub,
.eb-number-field-add {
  cursor: pointer;
}

.picker__table td,
.picker__table th {
  border: 1px solid #ececec;
}

.eb-datepicker-wrapper [class*="picker__button--"] {
  border-radius: 0;
  color: #444;
}

.eb-datepicker-wrapper .picker__button--clear:focus,
.eb-datepicker-wrapper .picker__button--close:focus,
.eb-datepicker-wrapper .picker__button--today:focus {
  background: #444;
  border-color: #444;
  outline: 0;
}

.eb-datepicker-wrapper .picker__button--clear:hover,
.eb-datepicker-wrapper .picker__button--close:hover,
.eb-datepicker-wrapper .picker__button--today:hover {
  cursor: pointer;
  color: #000;
  background: #eee;
  border-bottom-color: #eee;
}

.eb-datepicker-wrapper .picker__button--today:before {
  border-top: .66em solid #000;
}

.eb-datepicker-wrapper .picker__button--clear:before {
  border-top: 3px solid #000;
}

.eb-datepicker-field-guests .eb-datepicker-field-inner {
  height: 100%;
}

/*
==============================================
  = Lang switch modal
==============================================
*/
.eb-modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top :0;
  left: 0;
  z-index: -10;
  opacity: 0;
  transition: all 0.4s;
  visibility: hidden;
}

.eb-modal-container--open {
  z-index: 10004;
  opacity: 1;
  visibility: initial;
}

.eb-modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top :0;
  left: 0;
  z-index: 0;
}

.eb-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

.eb-modal-header h4 {
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 1.5rem 1rem 1rem 1rem;
}

.eb-modal {
  position: relative;
  width: 440px;
  background: #fff;
  z-index: 1;
  padding: 1rem;
}

@media screen and (max-width: 1023px) {
  .eb-modal {
    width: 92vw;
  }
}

.eb-modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.eb-wpml-lang-switch-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.eb-wpml-lang-switch-list img {
  display: inline-block;
}

.eb-wpml-lang-switch-list > .eb-lang-switch-lang-item {
  margin-bottom: .725rem;
  transition: all 0.3s;
}

.eb-wpml-lang-switch-list:not(.eb-wpml-lang-switch-list--list) > .eb-lang-switch-lang-item:hover {
  transform: translateY(-3px);
}

.eb-wpml-lang-switch-list--list > .eb-lang-switch-lang-item:hover {
  transform: translateX(3px);
}

.eb-wpml-lang-switch-list > .eb-lang-switch-lang-item .eb-lang-switch-lang-link {
  display: block;
  padding: 0.5rem 0.75rem;
}

.eb-lang-switch-lang-link,
.eb-lang-switch-lang-item,
.eb-lang-switch-lang-item:hover {
  background: none!important;
}

.eb-lang-switch-lang-link span {
  margin-left: 8px;
}

/* .eb-wpml-lang-switch-list:not(.eb-wpml-lang-switch-list--grid) > li:not(:last-child) a {
  border-bottom: 1px solid #eee;
} */

.eb-wpml-lang-switch-list--grid {
  flex-direction: row;
  flex-wrap: wrap;
}

.eb-lang-switch-handle {
  display: flex;
  align-items: center;
}

/*
==============================================
  = Weather
==============================================
*/
.eb-eb-weather {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
---------------------------------------------------------
  ACF SLIDES
---------------------------------------------------------
*/
.eb-widget-swiper-container {
	width: 100%;
	overflow: hidden;
}

.eb-widget-swiper-slide {
	display: flex;
    width: 100%!important;
    overflow: hidden;
}

.eb-widget-swiper-slide img {
	width: 100%;
    object-fit: cover;
}

.eb-widget-swiper-buttons {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	z-index: 2;
}

.eb-widget-swiper-buttons button {
	cursor: pointer;
	transition: all 0.3s;
}

.eb-widget-swiper-buttons button svg {
	transition: all 0.3s;
}

.eb-widget-acf-gallery-slides-swiper-prev:not(.eb-widget-acf-gallery-slides-swiper-prev-rotate ):hover svg {
	transform: translateX(-32px);
}

.eb-widget-acf-gallery-slides-swiper-prev-rotate svg {
	transform: rotate(180deg)
}

.eb-widget-acf-gallery-slides-swiper-prev-rotate:hover svg {
	transform: translateX(-32px) rotate(180deg);
}

.eb-widget-acf-gallery-slides-swiper-next:hover svg {
	transform: translateX(32px);
}

.eb-acf-repeater-list-widget-rows {
  display: flex;
}

.eb-acf-repeater-list-widget-rows > ul.eb-acf-repeater-list-widget-list:last-child {
  margin-right: 0!important;
}

.eb-acf-repeater-list-widget-rows > ul.eb-acf-repeater-list-widget-list:first-child {
  margin-left: 0!important;
}

.eb-flex {
  display: flex;
}

.eb-items-center {
  align-items: center
}

.eb-items-end {
  align-items: flex-end;
}

.eb-items-center {
  align-items: center
}

.eb-justify-center {
  justify-content: center;
}

.eb-justify-end {
  justify-content: flex-end;
}

.eb-flex-0 {
  flex-grow: 0;
}

.eb-flex-1 {
  flex-grow: 1;
}
